.App {
  text-align: center;
}

.MuiTypography-root-42.MuiTypography-subtitle1-60 {
  Background-color: rgb(235, 235, 235);
  padding: 50px;
  /* box-shadow: 10px -10px 50px grey; */
}

.MuiListItem-root-81.MuiListItem-default-84.MuiListItem-gutters-89 {
  display: flex;
  flex-direction: column;
}

 .MuiButtonBase-root-175.MuiButton-root-149.MuiButton-contained-160{
background-color: rgb(59, 149, 228);
padding: 20px 50px 20px 50px; 
}



.button {
  display: inline-flex;
}

div.button {
  padding-bottom: 400px;
  padding-top: 20px;
}

.body {
  /* background: url('./components/img/BG.jpg'); */
  /* background-image: url(./components/img/BG.jpg);*/
  background-color: blueviolet;
} 

.MuiInputBase-input-138.MuiOutlinedInput-input-123 {
  background-color: aliceblue;
}

.MuiPrivateNotchedOutline-legend-146 {
  color: aqua
}

